<h1>Enter two words or sentences</h1>
<form action="/output">
  <input type="text" name="first_word">
  <input type="text" name="second_word">
  <button type="submit" name="button">Submit</button>
</form>
