<h1>Enter two words or sentences</h1>
<form action="/output">
  <div class="form-group">
    <label for="first_word">Phrase 1</label>
    <input type="text" name="first_word">
  </div>
  <div class="form-group">
    <label for="second _word">Phrase 2</label>
    <input type="text" name="second_word">
  </div>
  <button type="submit" name="button" class='btn btn-success'>Submit</button>
</form>
